.outlook-logo{
  width: 2.5rem;
  height: 2.5rem;
  /* border: 2px solid red; */
}
.main-box{
  /* border: 2px solid red; */
  height: 100svh;
  
}
.container{
  border: 2px solid;
  width:103%;
  margin-left: -22px;
  /* margin-right: -25px; */
  margin-top: -22px;
  height: 96%;
  display: flex;
}
.nav{
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mail-folder>li{
  /* border:2px solid ; */
  display: flex;
  align-items: center;
  padding-left:3rem;
  height:3rem;
  font-size: large;
  border-radius:5px;
  margin-bottom: .5rem;
}
.mail-folder>li:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.226);
}
.mail-folder>li:active{
  transform: translateY(.1px);
}
.mail-list{
  border: 2px solid red;
  width: 30%;
}
.mail-data{
  border: 2px solid red;
  width: 70%;
}
